<%= render partial: 'shared/menu'%>

<h2 class='text-center'>Public recipes </h2>
<section class="container d-flex justify-content-center align-content-center">
  <% @public_recipe.each do |recipe| %>
    <%= link_to recipe_path(recipe), class: 'text-decoration-none' do %>
      <div class='border p-3 rounded d-flex justify-content-evenly gap-5' style="max-width: 500px;">
        <div class=''>
          <h3> <%= recipe.name %> </h3>
          <p>By: <%= recipe.user.name %></p>
        </div>
        <div class=''>
          <p>Total food items: <%= recipe.foods.count %> </p>
          <p>Total price: $54.2 </p>
        </div>
      </div>

    <% end %>
  <% end %>
</section>
<%= link_to 'Home', root_path %>