<div class="navigation">
  <% unless current_user %>
    <%= link_to 'Public recipe', public_recipes_path%>
    <%= link_to 'Log in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Public recipe', 'recipes/public' %>
  <% end %>
  <% if current_user %>
    <%= link_to 'Foods', foods_path %>
    <%= link_to 'Recipes', recipes_path %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% end %>
</div>
