<%= render partial: 'shared/menu' %>

<div class="container">
  <h1>Food list for <%= current_user.name %></h1>
  <% @foods.each do |food| %>
    <p> <%= food.name %> (Quantity <%= food.quantity %>) </p>
  <% end %>
  <%= link_to 'Add Food', new_food_path, class: 'btn btn-primary' %>
</div>
