<%= render partial: 'shared/menu' %>

<div class="container" style="max-width: 500px;">
  <h2 class="text-center">Add New Food To <%= current_user.name %></h2>

  <%= form_with url: foods_path, method: :post do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :quantity, class: 'form-label' %>
      <%= form.number_field :quantity, class: 'form-control' %>
    </div>
    <div class="mb-3">
      <%= form.label :price, class: 'form-label' %>
      <%= form.number_field :price, class: 'form-control'%>
    </div>
    
    <%= form.submit "Add Food", class: 'btn btn-primary' %>
  <% end %>

</div>

